*{
    font-family: 'Poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}


.bg-image {
    background-size: cover;
    height: 30vh;
    background-position: center;
    /* padding-top: 100px; */
    color: white;
    font-weight: bold;

}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
}
.bigger-font {
    font-size: 12px;
}
.padding-top {
    height: 100%;
    position: relative;
}
.positions-info{
    position: absolute;
    bottom: 20px;
}
.lightblue {
    background-color: #CDECE5;
    border-radius: 0;
    color: white;

}
.small-font {
    font-size: 8px;
}

.bg-image1 {
    background-image: url('https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    height: 45vh;
    background-position: center;
}

.padding {
    padding-top: 15px;
}

.first {
    padding-top: 80px;
}
.second {
    padding-bottom: 5px;
    text-align: left;
}

.logo{
    height:50px;
    width: 110px;
    
}
.navbar-brand {
    padding: 0px;
    margin-top: 10px;
}
.navbar-brand, i {
    color: rgb(197, 194, 194);
}
.search-input{
    width:200px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
}
.input-field {
    position: relative;
    text-indent: 10px;
}
.input-field .fa {
    position: absolute;
    top: 25px;
    color: #F06B5E;
}
.letter-change {
    position: relative;
    text-indent: 10px;
}
.letter-change .fa {
    position: absolute;
    top: 13px;
    color: #F06B5E;
}
.modal-input {
    background-color: #FFF6F5;
    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 30px;
    padding-right: 68px;
    width: 300px;
    border: 0;
}
.modal-input::placeholder {
    color:  #F06B5E;
}


.findBtn {
    border-radius: 0px;  
    margin-top: 2px;  
    margin-right: 25px;
    background-color: rgb(243, 135, 125);
    border: none;
    color: white;
}

.envelope {
    margin-top: 5px;
}
.search{
    margin-top: 35px;
}

.nav {
    height: 10vh;
    background-color: white;
}

.margin-top-nav{
    margin-top:15vh;
}
.shadow-container {
    -webkit-box-shadow: 0px 4px 4px -1px rgba(219,219,219,1);
    -moz-box-shadow: 0px 4px 4px -1px rgba(219,219,219,1);
    box-shadow: 0px 4px 4px -1px rgba(219,219,219,1);
}
#input {
    background-color: #FFF6F5;
    padding-top: 10px;
    padding-bottom: 10px;    
    padding-left: 30px;
    padding-right: 68px;
    width: 250px;
    border: none;
    font-size: 10px;
    margin-top: 16px;
    margin-right: 15px;
}


#input::placeholder {
    color:#F06B5E;
}
.share-main{
    color: #cdcdcd;
    margin-left: 30px;
    font-size: 25px;
}


.sidebar{
    height: 85vh;
    position: fixed;
    /* position: relative; */
}
.sidebar-list{
    list-style: none;
    padding: 0;
}
.sidebar-list li{
    margin: 10px;
    width: 100%;
}
.sidebar-list li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #cdcdcd;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;

}
.sidebar-list li a:hover{
    color: #F06B5E;
}
.sidebar-icons{
    font-size: 35px;
    color: #cdcdcd;
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.sidebar-icons .sidebar-icons-in, .sidebar-icons .sidebar-icons-twiter{
    padding: 10px;

}

.newCompany {
    display: none;
}


.bgc{
    background-color: rgb(216, 245, 239);
    border-radius: 0;
    border: 0;
}

.bgc-btn{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bgc::placeholder{
    color:rgb(135, 216, 200);
}

.formOnClick {
    display: None;
    box-shadow: 0px 1px 28px 10px rgba(204,204,204,1);
    padding: 30px;
}

/* modal css */
.myModal{
    width: 80%;
}
.modal-sideBar{
    background-color: #cdece5;    
    height: 100vh;    
    color: white;
    position: relative;
}
.modal-sidebar-title{
    padding: 30px;
}

.category{
    position: absolute;
    padding: 30px;
    bottom: 50px;
    color: whitesmoke;
}

.crta{
    width: 100%;
    height: 3px;
    /* background-color: white; */
}
.close-button{
    float: right;
    color: #F06B5E !important;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 15px;
}
.modal-inner{
    padding: 20px;
    
}
.modal-body-content{
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}
.main-img{    
    height: 60vh;
    /* background-image: url('Hakaton Design/sliki/1.HR Education/Meet your HR Competitors.jpeg'); */
    background-position: center;
    background-size: cover;
}
.modal-text-boxes{
    margin-top: 20px;
}
.modal-text-content{
    font-size: 13px;
   
}
.modal-button{
    background-color: #F06B5E;
    color: white;
    height: 40px;
    border: none;

}
.modal-input{
    height: 40px;
}

.card {
    padding-bottom: 3%;
}